.bi-embedded {
    display: inline-block;
    width: 700%;
    height: 800px;
    vertical-align: -0.125em;
    fill: currentColor;
    overflow: hidden;
  }

  .custom-report-container {
    width: 800%; /* Adjust as needed */
    height: 1000px; /* Adjust as needed */
}

.Embed-container{
  height: 500px;
  width: 700px;
}